.content__orders-filter-item {
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    outline: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.content__orders-filter-item:not(.content__orders-filter-item_dash):hover {
    background-color: #ccc;
    transition: background-color 0.3s ease-in-out;
}

.content__orders-filter-item_dash {
    flex-grow: 0;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    cursor: default;
}

.content__orders-filter-item_btn {
    display: flex;
    justify-content: center;
}

.content__orders-filter-item_date {
    flex-grow: 0;
    padding-left: 40px;
    padding-right: 40px;
    cursor: default;
}

.content__orders-filter-item_date:not(last-child) {
    margin-right: 1px;
}