@{ 
    Layout = "";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="~/css/stylesheet.css">
    <link href="~/css/global.css" rel="stylesheet" />
</head>

<body class="body login-body">
    <main class="main">
        <div class="container login-container">
            <div class="login-content">
                <a class="login-content__link" asp-controller="Home" asp-action="Main">Продолжить как гость</a>

                <form class="frm login-frm" asp-controller="Authenticate" asp-action="Login" method="post">
                    <div class="frm-item">
                        <label class="frm-item__label">Логин</label>
                        <input class="frm-input" type="text" name="Username" placeholder="Логин" />
                    </div>

                    <div class="frm-item">
                        <label class="frm-item__label">Пароль</label>
                        <input class="frm-input" type="password" name="Password" placeholder="Пароль" />
                    </div>

                    <div class="frm-item login-btn">
                        <button class="btn login-frm__btn" type="submit">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>