@{ 
    Layout = "_AdminLayout2";
}

<div class="content">
    <h2 class="section-title">Добавление проекта</h2>

    <form class="frm project-frm" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="project-frm__content">
            <div class="project-frm__left">
                <div class="frm-item">
                    <label class="frm-item__label" for="proj-title">Название проекта</label>
                    <input id="proj-title" class="frm-input" type="text" name="projectTitle" required />
                </div>

                <div class="frm-item">
                    <label class="frm-item__label" for="proj-descr">Описание проекта</label>
                    <textarea id="proj-descr" class="frm-input project-frm__textarea" type="text" name="projectDescr" required></textarea>
                </div>
            </div>

            <div class="project-frm__right">
                <div class="frm-item">
                    <span class="frm-item__label">Фото</span>

                    <div class="input-wrapper">
                        <label class="project-frm__photo" for="proj-photo">
                            <input id="proj-photo" class="input__file" type="file" name="projectPhoto" onchange="show_picture()" />
                        </label>

                        <img id="proj-img" class="project-frm__img" src="~/img/add-photo.svg" alt="Изображение" />

                    </div>
                </div>
            </div>

        </div>

        <button class="btn project-frm__btn" type="submit">Сохранить</button>
    </form>
</div>