@if (User.Identity.IsAuthenticated)
{
    Layout = "_AdminLayout2";
}
else
{
    Layout = "_GuestLayout2";
}

@model ProjectModel

<div class="content">
    <h2 class="title">Редактирование проекта</h2>

    <form class="frm project-frm" asp-action="Update" method="post" enctype="multipart/form-data">
        <div class="project-frm__content">
            <div class="project-frm__left">
                <div class="frm-item">
                    <label class="frm-item__label" for="proj-title">Название проекта</label>
                    <input class="frm-input" id="proj-title" type="text" name="projectTitle" required value="@Model.ProjectTitle" />
                </div>

                <div class="frm-item">
                    <label class="frm-item__label" for="proj-descr">Описание проекта</label>
                    <textarea id="proj-descr" class="frm-input project-frm__textarea" type="text" name="projectDescr" required>@Model.ProjectDescr</textarea>
                </div>
            </div>

            <div class="project-frm__right">
                <div class="frm-item">
                    <span class="frm-item__label">Фото</span>

                    <div class="input-wrapper">
                        <label class="project-frm__photo" for="proj-photo">
                            <input id="proj-photo" class="input__file" type="file" name="projectPhoto" onchange="show_picture()" />

                            <img id="proj-img" class="project-frm__img" src="@Model.ProjectImageFileName" alt="Изображение" />
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="Id" value="@Model.Id" />
        <button class="btn project-frm__btn" type="submit">Сохранить</button>
    </form>
</div>