@if (User.Identity.IsAuthenticated)
{
    Layout = "_AdminLayout2";
}
else
{
    Layout = "_GuestLayout2";
}

@model ProjectModel

<div class="projects">
    <h2 class="section-title">Редактирование проекта</h2>

    <form class="frm project-frm" asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="project-frm__content">
            <div class="project-frm__left">
                <div class="project-frm__item">
                    <label for="proj-title">Название проекта</label>
                    <input id="proj-title" type="text" name="projectTitle" required value="@Model.ProjectTitle" />
                </div>

                <div class="project-frm__item project-frm__item_grow">
                    <label for="proj-descr">Описание проекта</label>
                    <textarea id="proj-descr" class="project-frm__textarea" type="text" name="projectDescr" required>@Model.ProjectDescr</textarea>
                </div>

                <button class="btn project-frm__btn" type="submit">Сохранить</button>
            </div>

            <div class="project-frm__right">
            <div class="project-frm__file">
                <label class="project-frm__photo" for="proj-photo">
                    Фото

                    <input id="proj-photo" class="add-project-frm__file" type="file" name="projectPhoto" onchange="show_picture()" />

                    <img id="proj-img" class="project-frm__img" src="@Model.ProjectImageFileName" alt="Изображение" />
                </label>
            </div>
        </div>

        </div>
    </form>
</div>