@{ 
    Layout = "_AdminLayout";
}

<div class="content">
    <h2 class="section-title">Добавление проекта</h2>

    <form class="frm add-project-frm" asp-action="Create" method="post">
        <div class="add-project-frm__content">
            <div class="add-project-frm__left">
                <div class="frm__item">
                    <label for="proj-title">Название проекта</label>
                    <input id="proj-title" type="text" name="projectTitle" required/>
                </div>

                <div class="frm__item">
                    <label for="proj-descr">Описание проекта</label>
                    <textarea id="proj-descr" class="add-project-frm__textarea" type="text" name="projectDescr" required></textarea>
                </div>
            </div>

            <div class="add-project-frm__right">
                <div id="frm-image" class="frm__item add-project-frm__file-item">
                    <label for="proj-photo">Фото</label>
                    <input id="proj-photo" class="add-project-frm__file" type="file" name="projectPhoto" required onchange="show_picture()"/>
                </div>
            </div>
        </div>

        <button class="btn btn_projects-btn" type="submit">Сохранить</button>
    </form>
</div>