@{
    Layout = "_AdminLayout";
}

<div class="main-content">
    <div class="main-content__header flex">
        <form>
            <input type="text" class="main-content__title__text flex" value="Какой-то текст" />
        </form>



        <div class="btn link-btn admin-main-btn">
            <input type="text" name="btnText" value="Оставить заявку" />
        </div>

        <button class="btn main-content__btn">Редактировать</button>
    </div>
</div>
