
@{
    Layout = "_GuestLayout";
}

<section class="section descr-section">
    <div class="container descr-section-container flex">
        @*<button class="btn descr-section-btn" onclick="showOrderForm()">Оставить заявку</button>*@

        <a class="btn link-btn" asp-controller="Order" asp-action="Order">Оставить заявку</a>
    </div>
</section>