
@{
    Layout = "_GuestLayout";
}

<main>
    <section class="section project-section">
        <div class="container project-container">
            <h2 class="section-title project-section-title">
                Заголовок проекта
            </h2>
            <article class="article project-section-article flex">
                <p class="project-article-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi ullam facilis eligendi. Maxime eligendi fuga placeat quibusdam ipsa sequi amet ipsam quia rerum beatae, minima ex sunt molestiae, eius earum.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi ullam facilis eligendi. Maxime eligendi fuga placeat quibusdam ipsa sequi amet ipsam quia rerum beatae, minima ex sunt molestiae, eius earum.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi ullam facilis eligendi. Maxime eligendi fuga placeat quibusdam ipsa sequi amet ipsam quia rerum beatae, minima ex sunt molestiae, eius earum.
                </p>
                <img class="project-article-img" src="~/img/girl.jpg" alt="Девушка">
            </article>
        </div>
    </section>
</main>