@{
    Layout = "_GuestLayout";
}

<main>
    <section class="section projects-section">
        <div class="container projects-container">
            <h2 class="section-title projects-section-title">
                Проекты
            </h2>

            <div class="projects-content">
                <ul class="project-items flex">
                    <li class="project-item">
                        <a class="project-item-link" asp-controller="Guest" asp-action="Project">
                            <article class="project-article">
                                <img class="img" src="~/img/dragon.jpg" alt="Дракон">
                                <p class="project-title">Заголовок проекта</p>
                            </article>
                        </a>
                    </li>

                    <li class="project-item">
                        <a class="project-item-link" asp-controller="Guest" asp-action="Project">
                            <article class="project-article">
                                <img class="img" src="~/img/girl.jpg" alt="Девушка">
                                <p class="project-title">Заголовок проекта</p>
                            </article>
                        </a>
                    </li>

                    <li class="project-item">
                        <a class="project-item-link" asp-controller="Guest" asp-action="Project">
                            <article class="project-article">
                                <img class="img" src="~/img/marussia.jpg" alt="Автомобиль">
                                <p class="project-title">Заголовок проекта</p>
                            </article>
                        </a>
                    </li>

                    <li class="project-item">
                        <a class="project-item-link" asp-controller="Guest" asp-action="Project">
                            <article class="project-article">
                                <img class="img" src="~/img/melburn.jpg" alt="Мельбурн">
                                <p class="project-title">Заголовок проекта</p>
                            </article>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>

<footer>
</footer>