@import url("global-varriables.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    min-width: 760px;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    max-width: 100%;
}

.title {
    margin: 0;
    padding-left: 40px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 300;
    color: #aaa;
    border-bottom: 1px solid #aaf;
}

.main__content {
    display: flex;
    min-width: 100%;
}

.main__left {
    min-width: 200px;
    padding: 20px;
    background-color: #aaf;
}

.main__right {
    width: 100%;
    max-width: calc(100% - 200px);
    padding-top: 20px;
    padding-left: 20px;
}

/* button */
.btn {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    border: 1px solid #99f;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.link_btn:hover {
    background-color: var(--btn-hover-color);
}


/* frm */
.frm {
    padding: 40px;
    background-color: #ccc;
    border: 1px solid #99f;
    border-radius: 15px;
}

.frm-title {
    font-size: 24px;
    font-weight: 400;
}

.frm-item__label {
    font-size: 12px;
    color: #555;
}

.frm-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 100%;
}

.frm-input {
    font-size: 20px;
    padding: 3px;
    max-width: 100%;
}