@import url("global-varriables.css");

.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects__items {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.projects__item {
    width: calc((100% - 40px) / 3);
}

.projects__item:not(:last-child) {
   margin-right: 20px;
}

.proj-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

.proj-card__img {
    width: 100%;
}

.proj-card__link {
    position: absolute;
}

.proj-card__link_pen {
    bottom: -34px;
}

.proj-card__link_basket {
    left: 30px;
    bottom: -34px;
}

.proj-card__title {
    margin: 0;
    padding: 5px;
    vertical-align: bottom;
}

.projects__btn {
    padding-top: 40px;
    align-self: end;
}

.project-frm {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-frm__content {
    display: flex;
    height: inherit;
    gap: 20px;
    margin-bottom: 20px;
}

.project-frm__left {
    display: flex;
    max-width: calc(100% - (var(--project-photo-width) + 20px));
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
}

.project-frm__right {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.project-frm__file {
    position: relative;
    flex-basis: 300px;
}

.project-frm__img {
    height: 100%;
}

.project-frm__item {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.project-frm__item_grow {
    flex-grow: 1;
}

.project-frm__btn {
    align-self: end;
}

.project-frm__textarea {
    max-width: 100%;
    min-height: 114px;
}

.project-frm__photo {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: #fff;
}

.input-icon {
    width: 80%;
    height: 80%;
}

.input__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    visibility: hidden;
}

.project-lnk {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.view-project__content {
    padding: 20px 180px;
}

.view-project__header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.view-project__title {
    margin: 0;
}

.view-project__img {
    width: 150px;
}

.view-project__paragraph {
    margin: 0;
    width: calc(100% - 200px);
}