<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="api-location" value="https://localhost:44324/"/>
    <add key="auth-api-location" value="http://localhost:8000/"/>
    <add key="secret-key" value="iSEzKjaqHMIFglGQN90TWI4ElRcP9hox"/>
  </appSettings>
</configuration>